

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html {
	font: normal 16px sans-serif;
	color: #555;
}

ul,
nav {
	list-style: none;
}

a {
	text-decoration: none;
	color: inherit;
	cursor: pointer;
	opacity: 0.50;
}

a:hover {
	opacity: 1;
	font-style: italic;
	color:#02B7E9;
}

a.btn {
	color: #fff;
	border-radius: 0%;
	text-transform: uppercase;
	background-color: 	#02B7E9;
	font-weight: 800;
	text-align: center;
}
a.btn:hover {
	opacity: 1;
	font-style: normal;
}
hr {
	width: 20vw;
	height: 0.125em;
	background-color: 	#02B7E9
	 ;
	border: 0;
	margin-bottom: 5em;

}

section {
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: 125px 100px;
}

@media (max-width: 1000px) {
	section {
		padding: 100px 50px;
	}
}

@media (max-width: 600px) {
	section {
		padding: 80px 30px;
	}
}

section h3.title {
	color: #414a4f;
	text-transform: capitalize;
	font: bold 32px 'Open Sans', sans-serif;
	margin-bottom: 35px;
	text-align: center;
}

section p {
	max-width: 800px;
	text-align: center;
	margin-bottom: 35px;
	padding: 0 20px;
	line-height: 2;
}

ul.grid {
	width: 100%;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}


/* 	Header section */
header {
	position: absolute;
	top: 0;
	left: 0;
	z-index: 10;
	width: 100%;
	display: flex;
	justify-content: space-between;
	align-items: center;
	color: #fff;
	padding: 35px 100px 0;
}

header h2 {
font-family: 'Dancing Script', cursive;
}

header nav {
	display: flex;
}

header nav li {
	margin: 0 15px;
}

header nav li:first-child {
	margin-left: 0;
}

header nav li:last-child {
	margin-right: 0;
}

@media (max-width: 1000px) {
	header {
		padding: 20px 50px;
	}
}

@media (max-width: 700px) {
	header {
		flex-direction: column;
	}
	header h2 {
		margin-bottom: 15px;
	}
}

/* Cover Page Section
 */
 
 .coverPage {
	position: relative;
	justify-content: center;
	min-height: 100vh;
	color: #fff;
	text-align: center;
}

.coverPage .background-image {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100vh;
	background-size: cover;
	background-color:#02B7E9;
	z-index: -1;
}

.coverPage .background-image:after {
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: #414a4f;
	opacity: 0.75;
}

.coverPage h1 {
	font: bold 60px 'Special Elite',
	cursive;
	margin-bottom: 15px;
}

.coverPage h3 {
	font: normal 28px 'Graduate',
	cursive;
	margin-bottom: 40px;
}

.coverPage a.btn {
	padding: 20px 46px;
}

@media (max-width: 800px) {
	.coverPage {
		min-height: 600px;
	}
	.coverPage h1 {
		font-size: 48px;
	}
	.coverPage h3 {
		font-size: 24px;
	}
	.coverPage a.btn {
		padding: 15px 40px;
	}
}


/* About me Section */
.about-me {
	background-color: #fff;
}



/* skill Section */

.skill {
	background-color: #F7F7F7;
}

.skill .grid li {
	padding: 0 30px;
	flex-basis: 33%;
	text-align: center;
}

.skill .grid li i {
	font-size: 50px;
	color : #02B7E9
	;
	margin-bottom: 25px;
}

.skill .grid li h4 {
	color: #414a4f;
	font-size: 20px;
	margin-bottom: 25px;
}

.skill .grid li p {
	margin: 0;
	color: #414a4f;
}

@media (max-width: 780px) {
	.skill .grid li {
		flex-basis: 70%;
		margin-bottom: 65px;
	}
	.skill .grid li:last-child {
		margin-bottom: 0;
	}
}

@media (max-width: 600px) {
	.skill .grid li {
		flex-basis: 100%;
	}
}

/* Project Section */

.work {
	background-color: #fff;
}

body {
	background-color: #f1f1f1;
	padding: 0;
}

/* Center website */

.row {
	margin: 0.5em -1em;
	background-color: #ffffff;
}

/* Add padding BETWEEN each column */

.row,
.row>.column {
	padding: .5em;
}

/* Create 3 equal columns that floats next to each other */

.column {
	float: left;
	width: 33%;
}

/* Clear floats after rows */

.row:after {
	content: "";
	display: table;
	clear: both;
}

/* Content */

.content {
	background-color: white;
	padding: 10px;
}

/* Responsive layout - makes a two column-layout instead of four columns */

@media screen and (max-width: 800px) {
	.column {
		width: 50%;
	}
	.column:last-child {
		width: 90%;
	
		
	}
}

/* Responsive layout - makes the two columns stack on top of each other instead of next to each other */

@media screen and (max-width: 600px) {
	.column {
		width: 100%;
	}
}

.image:hover {
	padding: .5em;
}



 
/* Contact Section */

.item {
	padding: 2em 0;
}

.contact .grid li {
	padding: 0 30px;
	flex-basis: 40%;
	text-align: center;
}

.contact .grid li i {
	font-size: 50px;
	color: 	#02B7E9
	 ;
	margin-bottom: 25px;
}

.contact .grid li h4 {
	color: #414a4f;
	font-size: 20px;
	margin-bottom: 25px;
}

.contact .grid li p {
	margin: 0;
	color: #414a4f;
}

@media (max-width: 700px) {
	.contact .grid li {
		flex-basis: 70%;
		margin-bottom: 65px;
	}
	.contact .grid li:last-child {
		margin-bottom: 0;
	}
}

@media (max-width: 480px) {
	.contact .grid li {
		flex-basis: 100%;
	}
}



/* Footer */

footer {
	display: flex;
	flex-direction: column;
	align-items: center;
	color: #fff;
	background-color: #414a4f;
	padding: 2em 0 0;
}

footer ul {
	display: flex;
	margin-bottom: 25px;
	font-size: 32px;
}

footer ul li {
	margin: 0 8px;
}

footer ul li:first-child {
	margin-left: 0;
}

footer ul li:last-child {
	margin-right: 0;
}


@media (max-width: 700px) {
	footer {
		padding: 40px 15px;
	}
}
